<div
  class="col-card inventory-box flex flex-wrap flex-row relative w-full h-full"
  #inventorySelector
  [class.justify-center]="mode !== 'allItems'">

  <div class="flex flex-row flex-wrap w-full justify-center gap-2 p-2">

    @for (item of items; track item) {
      <div class="w-24">
        <app-item-container
          [item]="item"
          [disabled]="isItemDisabled(item)"
          (selectEmitter)="handleSelectEmitter(item)"
          (click)="onItemSelect(item)">
        </app-item-container>
      </div>
    }
    @if (itemSelectorFacade.loading) {
      <div class="flex justify-center items-center w-full mt-4">
        <p-progress-spinner ariaLabel="Loading" styleClass="custom-spinner"></p-progress-spinner>
      </div>
    }
  </div>
</div>