.item-box {
    border-radius: 1em;
    &:hover {
        cursor: pointer;
    }
}
.inventory-box {
    overflow-y: scroll;
    height: 25em;
}
.col-card {
    border-radius: 1em;
    border: 1px solid rgb(128, 128, 128, 0.5);
}