<div
  class="customizer flex flex-col h-full w-full bg-slate-800 text-slate-300 p-4 overflow-y-scroll p-2">
  <div class="relative w-20 h-20">
    <img
      *ngIf="effectUrl"
      [src]="effectUrl"
      alt="Effect"
      class="absolute inset-0 w-full h-full object-cover z-0 pointer-events-none" />

    <resized-image
      *ngIf="details"
      [imageUrl]="details.img"
      class="relative z-10 w-full h-full"></resized-image>
  </div>
  <form
    class="flex flex-col flex-wrap items-center p-2"
    [formGroup]="itemFormGroup"
    (submit)="onSubmit()">
    <div class="name flex flex-col items-center justify-between">
      <h2>Name</h2>
      <h3>
        {{ itemFormGroup.controls['quality'].value.join(' ') }}
        {{ details?.name }}
      </h3>
    </div>
    <div
      class="name flex flex-col items-center sm:w-1/2 w-full flex-wrap justify-between p-2">
      <p-accordion value="0">
        <p-accordion-panel value="0">
          <p-accordion-header>Quality</p-accordion-header>
          <p-accordion-content>
            <item-quality
              [qualityControl]="itemFormGroup.controls['quality']"
              (selectionChange)="
                onQualitySelectionChange($event)
              "></item-quality>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
    <div
      *ngIf="isUnusual"
      [ngClass]="{
        'flex flex-col items-center flex-wrap justify-between p-2 transition-all duration-300 ease-in-out': true,
        'w-full': isEffectAccordionExpanded,
        'sm:w-1/2 w-full': !isEffectAccordionExpanded,
      }">
      <div
        class="name flex flex-col items-center sm:w-1/2 w-full flex-wrap justify-between p-2">
        <p-accordion value="0">
          <p-accordion-panel value="0">
            <p-accordion-header>Effects</p-accordion-header>
            <p-accordion-content>
              <app-item-effects
                [effectControl]="itemFormGroup.controls['effect']"
                (selectionChange)="
                  onEffectSelectionChange($event)
                "></app-item-effects>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </div>
      <!-- <mat-accordion>
        <mat-expansion-panel [(expanded)]="isEffectAccordionExpanded">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-slate-300"> Effect </mat-panel-title>
            <mat-panel-description class="p-4">
              You can select item's unusual effect
            </mat-panel-description>
          </mat-expansion-panel-header>
        
        </mat-expansion-panel>
      </mat-accordion> -->
    </div>
    <div
      [ngClass]="{
        'flex flex-col items-center flex-wrap justify-between p-2 transition-all duration-300 ease-in-out': true,
        'w-full': isEffectAccordionExpanded,
        'sm:w-1/2 w-full': !isEffectAccordionExpanded,
      }">
      <!-- <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-slate-300">
              Killstreak
            </mat-panel-title>
            <mat-panel-description class="p-4">
              You can select item's killstreaks
            </mat-panel-description>
          </mat-expansion-panel-header>
          <item-killstreak
            [killstreakerControl]="itemFormGroup.controls['killstreaker']"
            (selectionChange)="onKillstreakSelectionChange($event)"
          ></item-killstreak>
        </mat-expansion-panel>
      </mat-accordion> -->
    </div>
    <button
      class="border rounded-md text-slate-300 p-4 hover:bg-slate-900"
      type="submit">
      Modify
    </button>
  </form>
</div>
