.elite {
    background: #eb4b4b !important;
}
.unusual {
    background-color: #8650AC !important;
}
.strange {
    background-color: #CF6A32 !important;
}
.unique {
    background-color: #7D6D00 !important;
}
.vintage {
    background-color: #476291 !important;
}
.genuine {
    background-color: #4D7455 !important;
}
.collectors {
    background-color: #AA0000 !important;
}
.haunted {
    background-color: #38F3AB !important;
}