<div
  class="customizer flex flex-col h-full w-full bg-slate-800 text-slate-300 p-4 overflow-y-scroll"
>
  <div class="flex justify-center item-image">
    <div
      [ngStyle]="{ 'background-image': 'url(' + effectUrl + ')' }"
      class="bg-no-repeat bg-cover"
    >
      <resized-image [imageUrl]="getImageUrl()"></resized-image>
    </div>
  </div>
  <form
    class="flex flex-col flex-wrap items-center"
    [formGroup]="itemFormGroup"
    (submit)="onSubmit()"
  >
    <div class="name flex flex-col items-center justify-between">
      <h2>Name</h2>
      <h3>
        {{ itemFormGroup.controls["quality"].value.join(" ") }}
        {{ details.name }}
      </h3>
    </div>
    <div
      class="name flex flex-col items-center sm:w-1/2 w-full flex-wrap justify-between p-2"
    >
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-slate-300"> Quality </mat-panel-title>
            <mat-panel-description>
              You can select item's quality
            </mat-panel-description>
          </mat-expansion-panel-header>
          <item-quality
            [qualityControl]="itemFormGroup.controls['quality']"
            (selectionChange)="onQualitySelectionChange($event)"
          ></item-quality>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div
      *ngIf="isUnusual"
      [ngClass]="{
        'flex flex-col items-center flex-wrap justify-between p-2 transition-all duration-300 ease-in-out': true,
        'w-full': isEffectAccordionExpanded,
        'sm:w-1/2 w-full': !isEffectAccordionExpanded
      }"
    >
      <mat-accordion>
        <mat-expansion-panel [(expanded)]="isEffectAccordionExpanded">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-slate-300"> Effect </mat-panel-title>
            <mat-panel-description class="p-4">
              You can select item's unusual effect
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-item-effects
            [effectControl]="itemFormGroup.controls['effect']"
            (selectionChange)="onEffectSelectionChange($event)"
          ></app-item-effects>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div
      [ngClass]="{
        'flex flex-col items-center flex-wrap justify-between p-2 transition-all duration-300 ease-in-out': true,
        'w-full': isEffectAccordionExpanded,
        'sm:w-1/2 w-full': !isEffectAccordionExpanded
      }"
    >
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="text-slate-300">
              Killstreak
            </mat-panel-title>
            <mat-panel-description class="p-4">
              You can select item's killstreaks
            </mat-panel-description>
          </mat-expansion-panel-header>
          <item-killstreak
            [killstreakerControl]="itemFormGroup.controls['killstreaker']"
            (selectionChange)="onKillstreakSelectionChange($event)"
          ></item-killstreak>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <button
      class="border rounded-md text-slate-300 p-4 hover:bg-slate-900"
      type="submit"
    >
      Modify
    </button>
  </form>
</div>
