<div *ngIf="selectedItems.length > 0" class="selected-items-list overflow-auto p-4 ">
  <div
    *ngFor="let item; let i = index; of: selectedItems"
    class="list-item flex w-100 justify-between items-center p-4 mb-2 list-none"
  >
    <div class="w-100 flex justify-between">
      <div class="flex items-center w-auto">{{ item.name }}</div>
      <div class="flex items-center w-auto">
        <img
          src="{{ item.image_url }}"
          alt="image of {{ item.name }}"
          class="w-24"
        />
      </div>
      <div class="flex items-center w-auto">
        <button (click)="removeSelectedItem(i)" class="border-2 border-red-700 rounded-lg p-2">
          X
        </button>
      </div>
    </div>
  </div>
</div>
