
.item-editor {
    background-color: rgb(30, 30, 30, 0.9);
    width: 100%;
    height: 100%;
}
.mdc-text-field {
    background-color: gray;
}
.topunit.mat-select-panel
{
  background-color: gray;

}
.mat-mdc-option-ripple {
    background-color: gold !important;
}
form {
    background-color: ghostwhite;
}
