::ng-deep .p-autocomplete {
  width: 100% !important;
  max-width: none !important;
  min-width: 100% !important;
  box-sizing: border-box;
}
::ng-deep .p-dialog-header, .p-dialog-content {
  background-color: rgba(31 41 55) !important;
}
