<div class="item-editor bg-gray-800 h-full w-full flex flex-col overflow-auto">
  <form class="flex example-form w-full">
    <p-autoComplete
      class="w-full"
      [formControl]="myControl"
      [suggestions]="filteredOptions"
      (completeMethod)="loadItemsLazy($event)"
      field="name"
      [dropdown]="true"
      [forceSelection]="true"
      placeholder="Search item name.."
      (onSelect)="onSelect($event)"
    >
      <ng-template let-item pTemplate="item">
        <div class="item w-full flex justify-between items-center text-slate-300">
          {{ item.name }}
          <img
            [src]="item.image_url"
            class="sm:h-32 sm:w-32 h-16 w-16"
            alt=""
          />
        </div>
      </ng-template>
    </p-autoComplete>
  </form>

  <item-list-view class="h-100" [selectedItems]="selectedItems"></item-list-view>

  <div class="actions flex flex-col h-full gap-6 justify-end mt-4">
    <div class="buttons flex flex-row w-full justify-between">
      <button
        pButton
        type="button"
        label="Ok"
        class="p-button-success w-24"
      >d</button>
      <button
        pButton
        type="button"
        label="No Thanks"
        class="p-button-danger w-32"
        (click)="onClose()"
      >s</button>
    </div>
  </div>
</div>
