<app-item
    [itemData]="item"
    [effectUrl]="item.effect ? `assets/images/effects/${item.effect}.png` : null"
    [canDelete]="canDelete"
    [canModify]="canModify"
    [showQuantity]="showQuantity"
    [disabled]="disabled"
    [borderStyle]="facade.getBorderStyle(item)"
    (selectEmitter)="selectEmitter.emit(item)"
    (touchEmitter)="handleMobileTouch($event)"
    (removeEmitter)="removeEmitter.emit(item)"
    (customizeEmitter)="customizeEmitter.emit(item)"
    (backpacktfEmitter)="facade.openBackpackTfLink(item)"
    (backpacktfHistoryEmitter)="facade.openBackpackTfHistory(item)"
    (contextMenuEmitter)="contextMenuService.show($event.event, $event.item)">
</app-item>
