.Elite {
    border: 1px solid #eb4b4b;
}
.Unusual {
    border: 1px solid #8650AC;
}
.Strange {
    border: 1px solid #CF6A32;
}
.Unique {
    border: 1px solid #7D6D00;
}
.Normal {
    border: 1px solid #7D6D00;
}

.Vintage {
    border: 1px solid #476291;
}
.Genuine {
    border: 1px solid #4D7455;
}
.Collectors {
    border: 1px solid #AA0000
}
.Haunted {
    border: 1px solid #38F3AB;
}
.decoratedWeapon {
    border: 1px solid #fafafa;
}
.item-box {
  position: relative;
}
.item-effect-bg {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none; 
}
.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}