<div
  #item
  class="item-box p-2 m-2 sm:h-24 sm:w-24 h-20 hover:cursor-pointer rounded-lg relative z-0"
  [class.disabled]="disabled"
  [class]="borderStyle"
  (click)="onItemSelect()"
  (touchstart)="touchEmitter.emit()"
  (contextmenu)="onContextMenu($event)" 
  (keydown)="onItemSelect()"
  [pTooltip]="itemData.fullName"
  tooltipPosition="bottom"
  tabindex="0"
  data="effectUrl">
  <img
    *ngIf="effectUrl"
    [src]="effectUrl"
    class="absolute inset-0 w-full h-full object-cover z-0 pointer-events-none" />
  <resized-image
    [imageUrl]="getImgUrlString(itemData.img, itemData.name, itemData.isAustralium)"
    class="relative z-10"></resized-image>
  <div class="top-1 flex gap-1 absolute z-10" *ngIf="itemData">
    <p
      class="sm:h-4 h-3 sm:w-4 w-3"
      *ngIf="itemData.spells && itemData.spells.length > 0">
      <img src="assets/icons/spell.svg" alt="spell-icon" />
    </p>
    <p class="sm:h-4 h-3 sm:w-4 w-3" *ngIf="itemData.killstreak">
      <img src="assets/icons/killstreak.svg" alt="killstreak-icon" />
    </p>
    <p
      class="sm:h-4 h-3 sm:w-4 w-3"
      *ngIf="itemData.parts && itemData.parts.length > 0">
      <img src="assets/icons/part.svg" alt="part-icon" />
    </p>
    <span class="flex w-full justify-between" *ngIf="showActions">
      <p
        *ngIf="canDelete"
        class="sm:h-4 h-3 sm:w-4 w-3"
        (click)="removeEmitter.emit(this.itemData)"
        (keydown)="removeEmitter.emit(this.itemData)"
        tabindex="1">
        <img src="assets/icons/trash.svg" alt="trash-icon" />
      </p>
      <p
        *ngIf="canModify"
        tabindex="1"
        (keydown)="customizeEmitter.emit()"
        (click)="customizeEmitter.emit()"
        class="sm:h-4 h-3 sm:w-4 w-3">
        <img src="assets/icons/modify.svg" alt="modify-icon" />
      </p>
    </span>
  </div>
  <div
    class="absolute bottom-1 right-1 bg-white bg-opacity-10 rounded flex items-center gap-1 p-1 z-20"
    *ngIf="showQuantity && showQuantityFn(itemData.defindex)">
    <label
      for="quantity-{{ itemData.id }}"
      class="text-xs select-none text-gray-400"
      >Qty:
      <span *ngIf="showQuantity && !canModify">{{
        itemData.quantity
      }}</span></label
    >
    <input
      *ngIf="canModify"
      id="quantity-{{ itemData.id }}"
      type="number"
      min="1"
      [value]="itemData.quantity || 1"
      (input)="onQuantityChange($event)"
      class="w-12 text-sm text-center rounded border" />
  </div>
</div>
