<div
  class="col-card inventory-box flex flex-wrap flex-row relative"
  [class.justify-center]="mode !== 'allItems'"
>
  <div
    *ngIf="mode === 'allItems'"
    class="item-box p-2 m-2 sm:h-24 sm:w-24 h-20 w-20 border border-slate-700"
    matTooltip="Add items..."
    (click)="onOpenItemEditor()"
  >
    <img src="/assets/images/8333955.png" alt="" class="img-fluid" />
  </div>
  <item
    *ngFor="
      let item of mode === 'inventory' ? filteredItems : items;
      let idx = index
    "
    [itemData]="item"
    (click)="onItemSelect(idx)"
  ></item>
  <mat-spinner *ngIf="loading" class="position-absolute top-100"></mat-spinner>
</div>
