.item-box {
    height: 7.5em;
    border-radius: 1em;
    &:hover {
        cursor: pointer;
    }
}
.inventory-box {
    overflow-y: scroll;
    height: 25em;
}
.elite {
    border: 1px solid #eb4b4b;
}
.unusual {
    border: 1px solid #8650AC;
}
.strange {
    border: 1px solid #CF6A32;
}
.unique {
    border: 1px solid #7D6D00;
}
.vintage {
    border: 1px solid #476291;
}
