<main class="dark:bg-gray-800 min-h-screen">
  <mat-drawer-container
    class="container-fluid min-h-screen w-screen"
    [hasBackdrop]="true"
  >
    <mat-drawer class="h-screen" #drawer
      ><app-mobile-nav></app-mobile-nav
    ></mat-drawer>
    <mat-drawer-content>
      <div class="container-fluid min-h-screen w-full dark:bg-gray-800">
        <navbar [drawer]="drawer"></navbar>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
