* {
    color: white;
    font-weight: 400;
    
}
button {
    background-color: rgba(158, 158, 158, 0.1);
    border: 0;
    border-radius: 0.2em;
}
::ng-deep .matMenu {
    background-color: rgb(66, 66, 66) !important;
}
.menu-item {
    color: rgb(255, 255, 255, 0.6);
}
