<div
  *ngIf="userData"
  class="d-flex justify-content-center align-items-center p-2 gap-2"
>
  <img [src]="userData.avatar" alt="asd" />

  <button class="p-2" mat-button [matMenuTriggerFor]="menu">
    <div class="d-flex">
      <p class="d-flex align-items-center m-0">
        {{ userData.personaname }}
      </p>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </button>
  <mat-menu #menu="matMenu" class="matMenu">
    <button mat-menu-item class="menu-item">
      <span class="d-flex align-items-center">
        <i class="material-icons mr-2">contact_mail</i>Contact
      </span>
    </button>
  </mat-menu>
</div>
