<div *ngIf="userData" class="flex justify-center">
  <img class="h-8 w-8 rounded-full" [src]="userData.avatar" alt="asd" />

  <span class="cursor-pointer" mat-button [matMenuTriggerFor]="menu">
    <div class="flex justify-center items-center h-full">
      <p class="h-max">
        {{ userData.personaname }}
      </p>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </span>
  <mat-menu #menu="matMenu" class="matMenu">
    <button mat-menu-item class="menu-item">
      <span class="d-flex align-items-center">
        <i class="material-icons mr-2">contact_mail</i>Contact
      </span>
    </button>
  </mat-menu>
</div>
