@if (userData) {
  <div class="flex items-center gap-2 p-4 justify-end">
    <div
      class="relative"
      #bellRef
      (click)="panel.toggle($event)"
      (keydown.enter)="panel.toggle($event)"
      (keydown.space)="panel.toggle($event)"
      tabindex="0"
      aria-label="Notifications"
      role="button"
    >
      <p-overlaybadge [value]="(notificationService.unreadCount$ | async) ?? 0">
        <i class="pi pi-bell text-2xl cursor-pointer p-3 rounded-full hover:bg-slate-800/50"></i>
      </p-overlaybadge>
    </div>
    <img
      class="h-8 w-8 rounded-full cursor-pointer"
      [src]="userData.avatar"
      alt="Profile"
      [routerLink]="['/user-profile', userData.steamid]"
    />
    <h2
      class="truncate max-w-32 cursor-pointer"
      [routerLink]="['/user-profile', userData.steamid]"
    >
      {{ userData.personaname }}
    </h2>
  </div>

  <p-popover #panel [appendTo]="'body'" >

    <app-notification-list></app-notification-list>
  </p-popover>
}