<div
  class="col-card inventory-box flex flex-wrap flex-row relative w-full h-full"
  #inventorySelector>
  <div class="flex flex-row flex-wrap w-full justify-center gap-2 p-2">
    @for (item of items; track item) {
      <div class="w-24">
        <app-item-container
          [item]="item"
          [canDelete]="true"
          (selectEmitter)="itemSelectorFacade.onAddItem(item)"
          (removeEmitter)="itemSelectorFacade.onRemoveItem(item)">
        </app-item-container>
      </div>
    }
  </div>
</div>
