<div
  class="col-card inventory-box flex flex-wrap flex-row items-start gap-2"
  #inventorySelector>
  <div
    class="item-box p-2 m-2 sm:h-24 sm:w-24 h-20 border border-slate-700"
    pTooltip="Add items..."
    tooltipPosition="bottom"
    (click)="onOpenItemEditor()"
    tabindex="0"
    (keydown)="onOpenItemEditor()">
    <img src="/assets/images/8333955.png" alt="" class="w-full h-full" />
  </div>
  <div class="flex flex-row flex-wrap gap-2 p-2" *ngIf="allItems">
    <div *ngFor="let item of selectedItems" class="w-24">
      <app-item-container
        [item]="item"
        [canDelete]="true"
        [canModify]="true"
        (removeEmitter)="onRemoveItem(item)"
        (customizeEmitter)="onCustomizeItem(item)">
      </app-item-container>
    </div>
  </div>
</div>
<p-dialog 
  header="Customize Item"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '80%', height: '80%' }">

  <app-item-editor *ngIf="editorVisible" 
    [options]="allItems"
    (filterSearch)="handleFilterSearch($event)" 
    (closeDialog)="onDialogClose()">
  </app-item-editor>
  <item-customizer *ngIf="customizableItem"
    (itemModified)="closeOnModification()"
    [details]="customizableItem">
  </item-customizer>
</p-dialog>