.item-box {
    border-radius: 1em;
    &:hover {
        cursor: pointer;
    }
}
.inventory-box {
    overflow-y: scroll;
    height: 25em;
}
.Elite {
    border: 1px solid #eb4b4b;
}
.Unusual {
    border: 1px solid #8650AC;
}
.Strange {
    border: 1px solid #CF6A32;
}
.Unique {
    border: 1px solid #7D6D00;
}
.Vintage {
    border: 1px solid #476291;
}
