.Elite {
    background: #eb4b4b !important;
}
.Unusual {
    background-color: #8650AC !important;
}
.Strange {
    background-color: #CF6A32 !important;
}
.Unique {
    background-color: #7D6D00 !important;
}
.Vintage {
    background-color: #476291 !important;
}
.Genuine {
    background-color: #4D7455 !important;
}
.Collectors {
    background-color: #AA0000 !important;
}
.Haunted {
    background-color: #38F3AB !important;
}