<div class="container relative flex flex-col w-full h-94 p-4" *ngIf="!loading">
  <h1>
    Your trades ({{ trades.length }} - inactives ({{ inactiveTrade.length }}) )
  </h1>
  <p-card
    class="col-card trade mt-3 p-3 sm:w-3/4 w-full last:mb-5 hover:cursor-pointer overflow-auto flex-grow bg-slate-800"
    *ngFor="let trade of trades"
    (click)="selectTrade(trade.id)"
    (keydown)="selectTrade(trade.id)">
    <ng-template #header>
      <div
        class="w-full flex gap-2 p-2 justify-end border-solid border-slate-600">
        <button>
          <img
            class="h-6 w-6"
            src="/assets/icons/refresh.svg"
            alt=""
            (click)="onBump(trade.id, $event)" />
        </button>
        <button>
          <img class="h-6 w-6" src="/assets/icons/trash.svg" alt="" />
        </button>
        <p-togglebutton
          [ngModel]="getStatus(trade)"
          (ngModelChange)="setStatus(trade, $event)"
          (click)="onHandleStatus($event, trade.id)"
          onLabel="Active"
          offLabel="Inactive"
          class="w-24" />
      </div>
    </ng-template>
    <div class="flex flex-wrap sm:flex-row flex-col w-full">
      <div
        class="inventory-box flex flex-wrap flex-row relative w-full h-full"
        #inventorySelector>
        <div class="flex flex-row flex-wrap w-full gap-2 p-2">
          <div *ngFor="let item of trade.itemsToSell" class="w-24">
            <app-item-container [item]="item"> </app-item-container>
          </div>
        </div>
      </div>

      <div class="arrow flex sm:items-center justify-center">
        <img
          class="h-20 hidden sm:block"
          src="/assets/images/arrow-right-01-512.webp"
          alt="Arrow" />

        <!-- Visible only on mobile -->
        <img
          class="h-20 block sm:hidden"
          src="/assets/images/Down-Arrow-PNG-Image.png"
          alt="Arrow for Mobile" />
      </div>
      <div class="flex flex-wrap flex-row relative w-full h-full">
        <div class="flex flex-row flex-wrap w-full gap-2 p-2">
          <div *ngFor="let item of trade.itemsToBuy" class="w-24">
            <app-item-container [item]="item"> </app-item-container>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
<div
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex justify-center items-center z-50"
  *ngIf="loading">
  <p-progress-spinner ariaLabel="loading" />
</div>
