<div class="dashboard-container h-full">
  <div class="row p-3">
    <div class="col-card col-sm-12 col-lg-5 mb-3 p-1">
      <item-selector [mode]="'toTrade'"></item-selector>
    </div>
    <div class="col-sm-12 col-lg-2 mb-3">
      <div
        class="d-flex flex-column h-75 justify-content-between align-items-center"
      >
        <div>
          <img class="img-fluid" src="/assets/images/arrow-right-01-512.webp" alt="">
        </div>
        <div>
          <div class="btn btn-success" (click)="makeTrade()">Post trade</div>
        </div>
      </div>
    </div>
    <div class="col-card col-sm-12 col-lg-5 mb-3 p-1">
      <div class="inventory-box">
        <item-selector [mode]="'allItems'"></item-selector>
      </div>
    </div>
  </div>
  <div class="row p-3 my-2">
    <div class="col-6">
      <h2 [style.color]="'white'">Your backpack:</h2>
    </div>
    <div class="col-6">
      <!-- <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [matAutocomplete]="auto"
        (input)="filterItems($event)"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (item of (filteredItems | async); track item.name) {
        <mat-option [value]="item">{{ item.name }}</mat-option>
        }
      </mat-autocomplete> -->
    </div>
    <div class="col col-card mb-3 p-1">
      <item-selector [mode]="'inventory'"></item-selector>
    </div>
  </div>
</div>
