
.trade-details {
    color: rgb(255, 255, 255, 0.3);
}

.user-name-text {
    color: rgb(184, 184, 184);
    cursor: pointer;
}

.col-main-card {
    --p-card-shadow: 0 !important;
    margin-left: 1em;
    border-radius: 1em;
    border: 1px solid rgb(128, 128, 128, 0.5);
}

.container {
  flex: 1 0 auto;
  position: relative;
}

.paginator-wrapper {
  flex-shrink: 0;
  position: sticky;
  bottom: 0;  
  border: 1px solid black;
  z-index: 10;
  width: 100vw;
}