<div class="container min-h-screen w-full pb-12">

  <div
    class="trade mt-3 p-3 sm:w-3/4 w-full last:mb-5"
    *ngFor="let trade of trades$ | async"
  >
    <div class="trade-details">
      <div class="flex flex-row justify-between">
        <p class="w-50 p-0 m-0">
          <span class="user-name-text">{{ trade.owner }}</span> wants to
          trade...
          <span matTooltip="{{ trade.postDate | date }}">{{
            trade.postDate | postDate
          }}</span>
        </p>
        <p
          class="w-50 text-end p-0 m-0 sm:text-sm text-xs font-black text-gray-700"
        >
          {{ trade.id }}
        </p>
      </div>
    </div>
    <div class="flex flex-wrap sm:flex-row flex-col w-full">
      <div
        class="border border-gray-600 flex flex-wrap flex-1 sm:w-1/3 w-full h-56 overflow-hidden"
      >
        <div
          class="item-box p-2 m-2 h-24 w-24"
          *ngFor="let item of trade.itemsFrom"
          [class]="getItemBorderStyle(item)"
          matTooltip="{{ item.name }}"
        >
          <!-- <p [style.color]="'#' + item.name_color">{{ item.name }}</p> -->
          <img
            [src]="
              'https://steamcommunity-a.akamaihd.net/economy/image/' +
              item.imageUrl
            "
            alt=""
            [style.width]="'auto'"
          />
        </div>
      </div>
      <div class="arrow">arrow</div>
      <div class="items flex flex-1 flex-wrap sm:w-1/3 w-full overflow-hidden">
        <div
          class="item-box p-2 m-2 h-24 w-24"
          *ngFor="let item of trade.itemsTo"
          [class]="getItemBorderStyle(item)"
          matTooltip="{{ item.name }}"
        >
          <!-- <p [style.color]="'#' + item.name_color">{{ item.name }}</p> -->
          <img [src]="item.imageUrl" alt="" [style.width]="'100%'" />
        </div>
      </div>
    </div>
  </div>
  <paginator
    class="absolute bottom-0"
    [tradeLength]="(totalTrades$ | async) || 0"
  >
  </paginator>
</div>
