<div class="flex flex-col p-4 gap-4" *ngIf="profileData && userData">
  <div class="profile-data flex flex-row items-center gap-2">
    <img routerLink="userprofile" class="h-24 w-24 rounded-full" [src]="userData.avatarfull" alt="asd" />
    <div class="flex flex-row gap-2 h-8 items-center">
      <p-chip class="chip" *ngFor="let chip of chipData" [label]="chip.label" (click)="openLink(chip.link)"></p-chip>
    </div>
  </div>
  <h1 class="text-3xl font-bold">{{ userData.personaname }}'s profile</h1>
  <div class="experience-box rounded-md border border-gray-600 p-6">
    <div class="title flex flex-wrap justify-between">
      <h2 class="text-lg sm:text-xl md:text-2xl lg:text-3xl">Experience</h2>
      <h2>Level <strong>{{profileData.level}}</strong></h2>
    </div>
    <p-progressbar [value]="profileData.progress" />
  </div>
  <div class="trade-box rounded-md border border-gray-600 p-6">
    <h2 class="text-2xl">Favourite items ({{favouriteItems?.length}})</h2>
    <div class="flex flex-row flex-wrap gap-2 ">
      <div *ngFor="let item of favouriteItems"; class="w-24">
        <app-item-container
          [item]="item"
          [canDelete]="true"
          [canModify]="false"
          [showQuantity]="false"
          (removeEmitter)="removeItem($event)">
        </app-item-container>
      </div>
    </div>
  </div>
  <div class="rounded-md border border-gray-600 p-6">
    <app-favourite-collection></app-favourite-collection>
  </div>
  <div class="rounded-md border border-gray-600 p-6">
    <app-strange-item-histories></app-strange-item-histories>
  </div>
    <div class="trade-url-box w-full max-w-xl mx-auto flex flex-col gap-4 rounded-md border border-gray-600 p-4 sm:p-6">
    <div class="flex justify-between mb-4">
      <h3 class="text-xl sm:text-2xl font-semibold">Trade URL</h3>
      <p class="text-teal-500 text-sm sm:text-base">
        <a href="https://steamcommunity.com/my/tradeoffers/privacy#trade_offer_access_url" target="_blank"
          class="underline hover:text-teal-600 transition-colors duration-200">Get your trade URL</a>
      </p>
    </div>
    <p-floatlabel>
      <input [formControl]="tradeControl" pInputText id="over_label" autocomplete="off" class="w-full" />
      <label for="over_label">Your trade URL</label>
    </p-floatlabel>
    <p-button (click)="saveTradeUrl.emit()" class="w-full sm:w-auto" label="Save Trade URL" />
  </div>
</div>
